* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif";
    color: #000;
    background: #fff;
}

input.submit,
select {
    -webkit-appearance: none;
}


/*去除input默认样式*/


/*解决谷歌下黄色背景*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 0px solid #CCC!important;
}

@media screen and (min-width:640px) {
    body {
        width: 640px;
        margin: 0 auto;
        background: #fff;
    }
}

@media screen and (max-width:320px) {
    body {
        width: 320px;
        margin: 0 auto;
        background: #fff;
    }
}


/*定义head*/

.header {
    font-size: 16px;
    font-family: "微软雅黑";
    color: #1d4b80;
    height: 50px;
    line-height: 50px;
    background: url(../images/top_bg.png) no-repeat;
    background-size: 100% 60px;
    text-align: center;
    position: relative;
}

.back {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
    background: url(../images/back.png) no-repeat 10px center;
    background-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
}

.home {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
    background: url(../images/home.png) no-repeat center center;
    background-size: 22px;
    position: absolute;
    right: 0;
    top: 0;
}


/*定义提交按钮的样式*/

.submit_wrap {
    width: 96%;
    margin: 10px auto;
}

.submit,
.gray_submit {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #3188e7;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.gray_submit {
    background: #ccc;
}


/*footer*/

.copyright {
    height: 30px;
    line-height: 30px;
    margin-top: 14px;
    text-align: center;
    color: #888;
    font-size: 12px;
}


/*定义内容*/

.mainDiv {
    padding: 10px;
}

.list {}

.list li {
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.list li.bg_more {
    background: url(../images/more.png) no-repeat 98% center;
    padding: 0 10px;
}

.list li.pad_l30 {
    padding-left: 30px;
}

.list li .left {
    padding: 0 10px 0 4px;
    display: inline-block;
    height: 50px;
}

.list li .left_jpyz1 {
    padding-left: 44px;
    background: url(../images/adult.png) no-repeat 20px center;
    background-size: 18px;
}

.list li .left_jpyz2 {
    padding-left: 44px;
    background: url(../images/mileage_card.png) no-repeat 20px center;
    background-size: 18px;
}

.list li .right {
    width: 58%;
}

.list li .right_input {
    line-height: 18px;
    border: none;
    padding: 14px 0px;
    font-size: 16px;
}

.no_bg {
    background: none;
}


.list1 {
    width: 100%;
    overflow: hidden;
}

.list1 li {
    overflow: hidden;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}

.list1 .left {
    width: 32%;
    padding: 0 6px 0 30px;
    box-sizing: border-box;
    color: #999;
    font-size: 14px;
}

.list1 .left_bg1 {
    background: url(../images/canlender.png) no-repeat 4px center;
    background-size: 20px;
}

.list1 .left_bg2 {
    background: url(../images/cabin.png) no-repeat 4px center;
    background-size: 20px;
}

.list1 .left_bg3 {
    background: url(../images/plane44.png) no-repeat 4px center;
    background-size: 20px;
}

.list1 .right {
    width: 68%;
    background: url(../images/more.png) no-repeat 98% center;
}

.list1 .left,
.list1 .right {
    display: inline-block;
    height: 40px;
    float: left;
}

.list1 .right input {
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    font-size: 18px;
}

.list1 .right select {
    width: 130%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}




.canlender {
    line-height: 50px;
    padding-left: 36px;
    background: url(../images/canlender.png) no-repeat left center;
    background-size: 30px;
    font-weight: bold;
}

.canlender input {
    padding: 4px;
}

.red {
    color: #1d4b80;
}

.gray6_bold {
    color: #666;
    font-weight: bold;
}

.gray7_bold {
    color: #666;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.gray8 {
    color: #888;
}

.fsize12 {
    font-size: 12px;
}

.fsize14 {
    font-size: 14px;
}

.fsize16 {
    font-size: 16px;
}

.fsize18 {
    font-size: 18px;
}

.fsize20 {
    font-size: 20px;
}

.fsize22 {
    font-size: 22px;
}

.float_l {
    float: left;
}



/*
*{padding:0;margin:0;list-style:none;font-size:14px;font-family:"宋体";color:#000;background:#fff;}
body{margin:0 auto;}
@media screen and(min-width:640px){
body{width:640px;}
}
@media screen and(max-width:320px){
body{width:320px;}
}
*/


/*loading*/

.ball {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    opacity: .9;
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(720deg);
    }
}

@-moz-keyframes load {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading_img {
    -webkit-animation: load 0.2s infinite;
    -moz-animation: load 0.5s infinite;
    animation: load 0.5s infinite;
}

.loading {
    width: 60%;
    height: 86px;
    float: left;
    position: fixed;
    background: #fff;
    text-align: center;
    padding-top: 34px;
    z-index: 999;
    left: 20%;
    top: 30%;
    border-radius: 16px;
    display: none;
}

.loading_txt {
    padding: 10px 0;
    font-size: 12px;
    color: #888;
}

.loading_wrap {
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}




/*金鹏会员和旅行助手*/

.lc_info {
    width: 100%;
    overflow: hidden;
    background: #efefef;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
}

.lc_info_wrap {
    width: 100%;
    padding-left: 80px;
    box-sizing: border-box;
    position: relative;
}

.lc_info_left {
    width: 60px;
    padding-top: 50px;
    float: left;
    top: 42%;
    left: 0;
    margin-top: -36px;
    text-align: center;
    color: #808080;
    position: absolute;
    background: url(../images/member.png) no-repeat center 10px;
    background-size: 40px;
}

.lc_btn_wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}





/*订单详情页面TM0703_detail_html5_new*/

.order_detai_top {
    line-height: 26px;
    color: #555;
    overflow: hidden;
}

.order_detai_top .left {
    float: left;
    display: inline-block;
}

.order_detai_top .right {
    float: right;
    display: inline-block;
    line-height: 50px;
    font-size: 22px;
}

.order_detail_wrap1 {
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    line-height: 22px;
}

.order_detail_wrap2 {
    background: #fff;
    padding: 10px;
}

.order_detail_wrap2 .flight_no {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}

.order_detail_wrap2 .city_state {
    overflow: hidden;
    padding: 6px 0;
}

.order_detail_wrap2 .city_state .city {
    float: left;
    display: inline-block;
    line-height: 22px;
    font-size: 16px;
}

.order_detail_wrap2 .city_state .state {
    float: right;
    display: inline-block;
    line-height: 40px;
}

.order_detail_wrap2 .airstyle_meal {
    font-size: 12px;
    line-height: 30px;
}

.order_detail_wrap2 .airstyle_meal .airstyle,
.order_detail_wrap2 .airstyle_meal .meal,
.order_detail_wrap2 .airstyle_meal .newlc {
    line-height: 30px;
    display: inline-block;
    padding: 0 18px 0 20px;
}

.order_detail_wrap2 .airstyle_meal .airstyle {
    background: url(../images/airplane.png) no-repeat left center;
    background-size: 16px;
}

.order_detail_wrap2 .airstyle_meal .meal {
    background: url(../images/fork_knife.png) no-repeat left center;
    background-size: 16px;
}

.order_detail_wrap2 .airstyle_meal .newlc {
    background: url(../images/newlc.png) no-repeat left center;
    background-size: 16px;
}

.order_detail_wrap2 .prices {
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
}

.order_detail_transform {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #EB8400;
}


/*改期升舱*/

.closecircle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #000 none repeat scroll 0 0;
    border-color: transparent transparent #000;
    border-image: none;
    border-radius: 0 0 100px;
    border-style: solid;
    border-width: 0 0 30px;
    color: #ccc;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
    height: 0;
    left: 0;
    line-height: 26px;
    padding-left: 3px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 30px;
}


/**404报错**/

html {
    font-size: 62.5%;
    -ms-touch-action: none;
    font-family: "Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif";
}

.errorWrap {
    width: 100%;
    height: auto;
    /*background: #00a7f5;*/
}

.errorTip {
    width: 100%;
    height: 150px;
}

.errorTipType {
    width: 80%;
    height: 55px;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 68px;
    font-family: "黑体";
    text-align: center;
}

.errorTipContent {
    width: 90%;
    height: 18px;
    line-height: 20px;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    font-family: "黑体";
}

.errContent {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.errContent img {
    max-width: 100%;
}

.errLink {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
}


/**403报错**/

.errorTip403 {
    width: 80%;
    height: 160px;
    background: #f0f0f0;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid #e9e9e9;
}

.errorTipType403 {
    width: 90%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin: 0 auto;
    border-bottom: 1px solid #e9e9e9;
    font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
}

.errorTipContent403 {
    width: 90%;
    height: 37px;
    font-size: 14px;
    padding: 4px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
}

.topGap {
    margin-top: 30px;
}

.topGap a {
    text-decoration: none;
    color: #1d4b80;
}

a {
    text-decoration: none;
}

#Scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#Scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

#Scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c9c9c9;
}


/**城市字体缩小**/

.initFrontSize input {
    font-size: 18px !important;
}