<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
	<title>展示页面</title>
</head>
<body>
	<header>
		<span class="fa fa-angle-left"></span>
	</header>

	<content>
		<div class="title">
			<h2>nodejs的一些问题</h2>
			<p><span>12345</span>阅读&nbsp;<span>655</span>回复</p>		
		</div>
		<div class="user_msg">
			<div class="user_left">
				
			</div>
			<div class="user_right">
				<p>天马星空</p>
				<p>09-26 &nbsp;20:44</p>
			</div>
		</div>
		<p>这块目前还在持续优化中，有兴趣的同学可以参与以下几项优化：
			egg-ts-helper 增加对 js 的支持，这样非 ts 的同学，也能享受到智能提示和静态检查的 Buffer 加成。
				完善插件自带的 d.ts 方便其他开发者。
			分享你的上层封装，如通过装饰器来注册路由或 AOP。（内部有不少实践，但还未达成共识）
 			PS： Egg.js 本身不会使用 TypeScript 重写，对于框架本身而言，JS 的灵活性可以让它更容易实现一些特性，同时它也并没有那么复杂的业务逻辑，TypeScript 并无法给框架研发带来更多的帮助。</p>

 			<hr>
 			<hr>
		<div class="user_msg">
			<div class="user_left">
				
			</div>
			<div class="user_right">
				<p>天马星空</p>
				<p>09-26 &nbsp;20:44</p>
			</div>
		</div>
		<p>这块目前还在持续优化中，有兴趣的同学可以参与以下几项优化：
			egg-ts-helper 增加对 js 的支持，这样非 ts 的同学，也能享受到智能提示和静态检查的 Buffer 加成。
				完善插件自带的 d.ts 方便其他开发者。
			分享你的上层封装，如通过装饰器来注册路由或 AOP。（内部有不少实践，但还未达成共识）
 			PS： Egg.js 本身不会使用 TypeScript 重写，对于框架本身而言，JS 的灵活性可以让它更容易实现一些特性，同时它也并没有那么复杂的业务逻辑，TypeScript 并无法给框架研发带来更多的帮助。</p>
 			<div class="good">
 				<div class="good_msg">
 					<span class="fa fa-thumbs-o-up"></span>
 					<span>31</span>
 					<span class="fa fa-list-alt"></span>
 				</div>
 				
 			</div>
		
	</content>

	<footer>
		
	</footer>
</body>
</html>